<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post" id="auth-form">
        <h4>Авторизация:</h4>
        <label>Логин:</label>
        <label for="login"></label><input id="login">
        <div></div>
        <label>Пароль:</label>
        <label for="password"></label><input id="password">
        <div></div>
        <button id="authorization" type="submit">Подтвердить</button>
    </form>

<script>

    document.getElementById('auth-form').addEventListener('submit', function (event) {
        event.preventDefault();

        const login = document.getElementById('login').value;
        const password = document.getElementById('password').value;
        const authUrl = '/auth/login';

        const json = {
            "username": login,
            "password": password
        }

        const requestOptions = {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(json)
        };

        fetch(authUrl, requestOptions)
            .then(response => response.json())
            .then(data => {
                console.log(data)
                const accessToken = data.access_token
                const accessLife = data.expires_in
                const refreshToken = data.refresh_token
                const refreshLife = data.refresh_expires_in

                document.cookie = `REFRESH_TOKEN=${refreshToken}; path=/; max-age=${refreshLife}`
                document.cookie = `ACCESS_TOKEN=${accessToken}; path=/; max-age=${accessLife}`

            })
            .catch(error => {
                console.error('Ошибка: ', error)
            });
    })
</script>
</body>
</html>