<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post" id="auth-form">
        <h4>Авторизация:</h4>
        <label>Логин:</label>
        <label for="login"></label><input id="login">
        <div></div>
        <label>Пароль:</label>
        <label for="password"></label><input id="password">
        <div></div>
        <button id="authorization" type="submit">Подтвердить</button>
    </form>

<script>

    document.getElementById('auth-form').addEventListener('submit', function (event) {
        event.preventDefault();

        const login = document.getElementById('login').value;
        const password = document.getElementById('password').value;
        const authUrl = 'http://localhost:8080/auth/login';

        const json = {
            "username": login,
            "password": password
        }

        const requestOptions = {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(json)
        };

        fetch(authUrl, requestOptions)
            .then(response => response.json())
            .then(data => {
                console.log(data)
            })
            .catch(error => {
                console.error('Ошибка: ', error)
            });
    })
</script>
</body>
</html>